<app-default-login-layout
    title = "Registre-se e comece agora!"
    primaryBtnText = "Registre-se"
    secondaryBtnText = "Faça login"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>   
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            inputName="name"
            type="text"
            label="Seu nome"
            placeholder="Digite seu nome"
        >
            <img src="/assets/svg/person-icon.svg"/>
       </app-primary-input>
       <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="contato@moveit.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
       </app-primary-input>
       <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
            placeholder="Senha"
        >
            <img src="/assets/svg/passwordO-icon.svg"/>
       </app-primary-input>
       <app-primary-input
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Confirme sua senha"
            placeholder="Digite sua senha novamente"
        >
            <img src="/assets/svg/password-icon.svg"/>
       </app-primary-input>
    </form>
</app-default-login-layout>